.smallCluniaImg{
  position: relative;
  margin-right: 10px;
  top: 0px;
}
#main > header {
  padding: 12em 0 10em 0 ;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/aktivitasBackground.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/aktivitasBackground.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/aktivitasBackground.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/aktivitasBackground.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


.thumbnail img{
  margin-top: 10px;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  border-style: solid;
  border-width: medium;
  border-color: #FFC158;
}
.vulgo{
  color: #FFC158;
}
