.smallCluniaImg{
  position: relative;
  margin-right: 10px;
  bottom: 0px;
}
body{
  background: white;
}

.row h3{
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
}



.row img{
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
         transition: all 0.5s ease;
}
.row img:hover{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
      filter: grayscale(100%);
}
