#banner h1{
  font-family: Cookie;
  font-size: 70px;
}
body{
  font-family: Helvetica;
  font-weight: lighter;
}
.event{
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  height : 150px;
  background-color: #FFC158;
  -webkit-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
}
  .event .icon{
    background-color: #671A1F;
    height: 100%;
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
  }
    .event .icon .date{
      margin: auto;
      width: 50%;
      padding: 10px;
      position: relative;
      line-height: 150px;
      font-family: Helvetica;
      font-size: 40px;
      color: white;

    }
  .event .img{
    float : left;
    height: 100%;
    width: 150px;
  }
  .event .description{
  	position: absolute;
  	left : 350px;
    height: 100%;
    font-size: 20px;
    margin: auto;
    float : left;
    color: white;
    text-align :left;
  }
  .cluniaImg{
    width: 90px;
    height: 100px;
  }
  .smallCluniaImg{
    position: relative;
    margin-right: 10px;
    top: 0px;
  }
  h4{
  	 text-decoration: underline;
  }

  @media only screen and (max-width: 700px) {
      .event{
        height: 180px;
      }
        .event .img{
          width: 0px;
          height: 0px;
          float: none;
        }
        .event .icon{
          width: 100%;
          height:50px;
          float: none;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }
          .event .icon .date{
            line-height: 50px;
            font-size: 20px;
          }
        .event .description{
          width: 100%;
          font-size: 20px;
          margin-left: 0px;
          left : 0px;
          text-align :center;
          top : 30px;
        }
  }
