#banner h1{
  font-family: Cookie;
  font-size: 70px;
}
body{
  font-family: Helvetica;
  font-weight: lighter;
}
.event{
  margin-bottom: 10px;
  width: 100%;
  border-color: #FFC158;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  height : 150px;
  background-color: #FFE1B7;
  -webkit-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.75);
}
  .event .icon{
    background-color: #FFC158;
    height: 100%;
    width: 150px;
    float: left;
  }
    .event .icon .date{
      margin: auto;
      width: 50%;
      padding: 10px;
      position: relative;
      line-height: 150px;
      font-family: Helvetica;
      font-size: 40px;
      color: white;

    }
  .event .img{
    float : left;
    height: 100%;
    width: 150px;
    border-style: solid;
    border-width: thin;
    border-color: #FFC158;
  }
  .event .description{
    color: white;
    height: 100%;
    font-size: 20px;
    margin: auto;
    float : left;
    margin-left: 10px;
    
  }
